.login-form .remembered-account {
    padding-bottom: 1.2308rem;
    
    border-bottom: 1px solid var(--color-field-border);
}

.login-form .remembered-account .notUser {
    float: right;
    
    font-weight: normal;
    font-size: 1rem;
    
    margin: 0.462rem 0 0 0.6154rem;
}

.login-form .remembered-account + .password input.password {
    width: 100%;
}

.login-form .login-form__message, .login-form .message {
    max-width: 100% !important;
}
